<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <!-- Passes post.post_url to format_url -->
    <span>({{post.post_url|format_url}})</span>
  </div>
  <div class="meta">
    <!-- Returns the number, then either point or points -->
    {{post.vote_count}} {{post.vote_count|format_plural("point")}} by
    {{post.user.username}} on {{post.created_at|format_date}} |
    <!-- post.comments|length is for the length of an array, while filter starts at the second | -->
    <a href="/post/{{post.id}}"
      >{{post.comments|length}}
      {{post.comments|length|format_plural("comment")}}</a
    >
  </div>
</article>
